@{
    ViewData["Title"] = "customerbookingDetails";
}

<div class="text-center">
    <h1 class="display-4">Customer Booking Details</h1>
</div>
<p>
    
     <a asp-action="viewBookingDetails">View Booking Details</a>
</p>