@{
    ViewData["Title"] = "Home Page";
}
<style>
     div{
         align-content: center;  
       }
     h1{
         color: black;
         align-content: center;
         
     }
 </style>
  <div class="text-center">
<div >
    <h1>Welcome To AirFlight Ticket Reservation System</h1>
</div>
<div >   
<img src="~/images/pic.jpg" height="500" width="900" >
</div>

</div>
