@{
    Layout="_Layout";
    
}
<style>
                    
                    body{
                       color: blue;
                       text-align: center;
                    }
                    form{
                        display: inline-block;
                    }
                    div{
                        margin-bottom: 5px;
                        column-gap: 40px;
                    }
                    input[type=submit] {
  width:190px;height: =200px;
  
}
                    

</style>
<body>
<h1>Admin Login</h1>

<img src="~/images/customer.png" height="200" width="220">
<div>
<form asp-action="Login">

<div>
    <asp:label id="name" width="220" height="50">Name</asp:label>
   
</div>
<div>
     <input id="name" width="220" height="50" name="name"/>
</div>
<div>
    <asp:label id="password" width="220" height="50">Password</asp:label>
</div>
<div>
    <input id="pass" type="password" width="220" height="50" name="pass"/>

</div>

<div>
    
<input type="submit" width="220" height="50" value="LOGIN"/>
</div>

<div>
@{
    if(ViewBag.result!=null)
    {
         <style>
            h4{
                color: red;
            }
        </style>
        <h4>@ViewBag.result</h4>
    }

}
</div>
<div>
@{
    if(ViewBag.result1!=null)
    {
         <style>
            h4{
                color: red;
            }
        </style>
        <h4>@ViewBag.result1</h4>
    }

}
</div>
</form>
</div>
</body>