@model firstmvcprj.Models.Emp;
<h1> Product</h1>
<form asp-action="Login">

<div>
    <label asp-for="Ename" class="control-label"> Emp Name:</label>
    <input asp-for="Ename" class="form-control"/>

</div>
<div>
    <label asp-for="Empid" class="control-label"> Emp Password:</label>
    <input asp-for="Empid" class="form-control"/>

</div>

<div>
    
<input type="submit" value="login"/>
</div>
</form>